section {
  text-align: center;
  margin-top: 80px;
}

[class*="col-"] {
  text-align: center;
  margin-top: 50px;
}

[class*="col-"] > img {
  height: 200px;
}

[class*="col-"] > h3 {
  margin-top: 20px;
}

[class*="col-"] > p {
  padding-top: 10px;
}

.container > .row {
  margin-top: 20px;
}




/* steps */

#steps {
  background-color: #f9f9f9;
}


/* /steps */

/* mediaquery */

@media all and (min-width: 769px) and (max-width: 1200px) {

  section {
    margin-top: 50px;
  }

  .container > .row {
    margin-top: 0px;
  }

}

@media all and (max-width: 768px) {

  section {
    margin-top: 20px;
  }


  .container > .row {
    /* margin-top: 10px; */
  }

  [class*="col-"] {

  margin-top: 20px;
  }

}

/* /mediaquery */
