section {
  text-align: center;
  margin-top: 70px;
}

[class*="col-"] {
  text-align: center;
  margin-top: 50px;
}

[class*="col-"] > img {
  height: 200px;
}

[class*="col-"] > h3 {
  margin-top: 20px;
}

[class*="col-"] > p {
  padding-top: 10px;
}

.container > .row {
  margin-top: 20px;
}

/* utility class */

.bg-lightgrey {
  background-color: #f9f9f9;
}
/* /utility class */


/* SECTIONS */
/* #lessons */

/* /#lessons */

/* #steps */

/* /#steps */

/* #why */

/* /#why */

/* /SECTIONS */


/* mediaquery */

/* medium screen */

@media all and (min-width: 769px) and (max-width: 1200px) {

  .container > .row {
    margin-top: 0px;
  }

}

/* /medium screen */



/* small screen */
@media all and (max-width: 768px) {

  #lessons {
    margin-top: 10px;
  }



  [class*="col-"] > img {
    height: 150px;
  }


  .container > .row {
    /* margin-top: 10px; */
  }

  [class*="col-"] {
  margin-top: 20px;
  }

}
/* /small screen */
/* /mediaquery */
